In [44]:
from neo4j.v1 import GraphDatabase, basic_auth
import pandas as pd
import collections

In [2]:
driver = GraphDatabase.driver("bolt://165.227.134.175", auth=basic_auth("user", "lauzhack2017"))
session = driver.session()
    
res = session.run("MATCH (a:Client) RETURN a LIMIT 10").data()

In [ ]:
res2 = session.run("MATCH p=(a:Client)-[r:TRANSFERRED]->() WHERE a.id='ef4259ae-c557-4c21-9a53-015de183e211' RETURN a").data()

In [7]:
res3 = session.run("MATCH p=(a:Client)-[r:TRANSFERRED]->(b:Client)<-[r2:TRANSFERRED]-(c:Company) WITH p,collect(r) as rels WHERE size(rels) > 15 RETURN p LIMIT 20").data()

Exception ignored in: 'neo4j.bolt._io.ChunkedInputBuffer.receive'
Traceback (most recent call last):
  File "/home/anilbey/anaconda3/lib/python3.6/ssl.py", line 1002, in recv_into
    return self.read(nbytes, buffer)
  File "/home/anilbey/anaconda3/lib/python3.6/ssl.py", line 865, in read
    return self._sslobj.read(len, buffer)
  File "/home/anilbey/anaconda3/lib/python3.6/ssl.py", line 625, in read
    v = self._sslobj.read(len, buffer)
KeyboardInterrupt:

ServiceUnavailable: Failed to read from defunct connection Address(host='165.227.134.175', port=7687)

In [7]:
clients = pd.read_csv('./sample_data/clients.small.csv')
atms = pd.read_csv('./sample_data/atms.small.csv')
companies = pd.read_csv('./sample_data/companies.small.csv')
transactions = pd.read_csv('./sample_data/transactions.small.csv')

In [14]:
var1 = transactions[transactions['target'] == 'ee288787-e310-4bb8-b2a1-f0f6a1ad8f06']
var2 = var1[var1['source']=='8f925cd1-e7c9-47ec-ad9a-86352f26f4fb']

In [21]:
var1.describe()

            amount
count    15.000000
mean    456.519032
std     766.054648
min       1.057116
25%       4.578989
50%       8.735272
75%     855.963940
max    1683.730271

In [74]:
var2

,id,source,target,date,time,amount,currency
13927,73223972-1450-44ae-8581-b4255d09b9e6,ee288787-e310-4bb8-b2a1-f0f6a1ad8f06,8f925cd1-e7c9-47ec-ad9a-86352f26f4fb,06/08/2016,15:09:18,8.735272,None
13928,96e151d3-f67b-495e-9c56-07491b2527e2,ee288787-e310-4bb8-b2a1-f0f6a1ad8f06,8f925cd1-e7c9-47ec-ad9a-86352f26f4fb,04/23/2016,19:08:05,1.563270,None